body {
}

.flex-parent {
    font-size: 25px;
    color: white;
    font-family: 'Manrope', sans-serif;
    display: inline-flex;
    position: absolute;
    top: 2200px;
    left: 427px;
    padding: 1em;
}

.flex-child-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 150px;
    padding: 1em;
}

.flex-grandchild {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    background: #001a33;
    color: white;
    padding: 12.7px;
}

.flex-grandchild1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    background-color: dodgerblue;
    color: white;
    padding: 12.7px;
}

#navbar {
    overflow: hidden;
    background-color: white;
    padding: 45px 5px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

    #navbar a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 20px;
        line-height: 25px;
        border-radius: 4px;
    }

    #navbar #logo {
        font-size: 35px;
        font-weight: bold;
        transition: 0.4s;
    }

    #navbar a:hover {
        background-color: #e6e6e6;
        color: black;
    }

    #navbar a.active {
        background-color: dodgerblue;
        color: white;
        font-family: 'Manrope', sans-serif;
    }

    #navbar a.active1 {
        color: #1a1a1a;
        font-family: 'Manrope', sans-serif;
    }

#navbar-left {
    float: left;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }

        #navbar a {
            float: none;
            display: block;
            text-align: left;
        }

    #navbar-left {
        float: none;
    }
    
}